html, body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    background-color: black;
    color: white;
    padding-top: 60px; /* Ajuste para mobile-first */
}



nav {
    background-color: white;
    height: 6vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between; /* Asegura la separación de elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* Añadido: Definición de .nav-center para pantallas de escritorio */
.nav-center {
    display: flex;
    flex: 1; /* Ocupa el espacio disponible entre el menú y el logo derecho */
    justify-content: center; /* Centra horizontalmente las imágenes */
    align-items: center;
}

.nav-center img {
    height: 2.2vw;
    margin: 0 1vw; /* Ajusta el espacio entre las imágenes */
}

nav .logo-right {
    height: 5.5vw;
    margin-left: auto;
    margin-right: 5%; /* Alinea el logo derecho a la derecha */
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    gap: 40px; /* Espacio entre los elementos */
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
}


.nav-links button {
    height: 2vw; /* Ajusta la altura del botón */
    font-family: 'Calibri', sans-serif;
    width: auto; /* Mantiene el ancho automático basado en el contenido */
    padding: 0 1vw; /* Añade algo de espacio alrededor del texto dentro del botón */
    font-size: 1vw; /* Ajusta el tamaño de la fuente basado en el ancho de la ventana */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por el botón */
}
  
.nav-links button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}


.menu-button:focus + .nav-links,
.nav-links:focus-within {
    display: flex; /* Hace visibles los enlaces cuando se activa el botón del menú (version movil*/
}

.menu-button {
    display: none; /* Oculto por defecto */
    background: none;
    border: none;
    cursor: pointer;
}


nav img {
    height: 7vw;
    margin-right: 5%;
}

nav .logo-right {
    height: 5.5vw;
    margin-left: auto; /* Asegura que el logo derecho se alinee a la derecha */
    
}

nav button {
    padding: 15px;
}






.content-container, .bibliography-section {
    width: 70%; /* Establecido para tablet y desktop */
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    color: black;
    text-align: justify;
    transform: translateY(-60px); /* Desplaza la imagen 20px hacia arriba */
}

td{
    text-align: center;
}

.dataframe.criteria-table,
.dataframe.pressures-table {
    width: 100%;           /* Establece el ancho al 100% del contenedor */
    margin-top: 50px;      /* Añade un margen superior de 50px */
    overflow-x: auto;      /* Permite el desplazamiento horizontal si es necesario */
    border: 1px solid black;  /* Establece un borde sólido, aquí asumo que quieres un borde de 1px de grosor */
    border-collapse: collapse; /* Colapsa los bordes de las celdas para formar un solo borde continuo */
}

.dataframe.criteria-table th,
.dataframe.criteria-table td,
.dataframe.pressures-table th,
.dataframe.pressures-table td {
    border: 1px solid black; /* Asegura que cada celda también tenga un borde, si es necesario */
    padding: 8px;            /* Añade algo de padding para el texto dentro de las celdas */
}


li a {
    color: #31a906ed; /* Color de los enlaces */
}




.home-section {
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0 auto;
}



.main-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;  /* Asegura que el texto sea visible sobre la imagen */
    width: 70%;  /* Ajustado para centrar el texto correctamente */
    font-size: 1vw;
    z-index: 2; /* Valor de z-index menor que el del .main-header */
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        color: black;
        z-index: 102;
        position: absolute;
        left: 5%;
    }

   

    nav {
        width: 100vw;  /* Usa 100vw para asegurar que no se salga del viewport */
        padding: 0 10px;  /* Ajusta el padding para dispositivos móviles si es necesario */
        height: 17vw; 
    }

    .nav-links{
        display: none;
        width: 20%; /* Ocupa todo el ancho cuando se muestra */
        flex-direction: column;
        position: absolute;
        top: 70px;
        background-color: white;
        width: 80%;
        padding: 10px 0;
        font-size: 16px;
        align-items: center; 
        justify-content: center;
        z-index: 101;  /* Asegura que esté por encima de otros elementos */

    }
    .nav-links a{
        font-size: 2.5vw;  /* Tamaño de fuente ajustado */
        width: 100%; /* Hace que cada enlace ocupe el ancho completo del contenedor */
        text-align: center; /* Centra el texto de cada enlace */
        padding: 20px 0; /* Agrega un poco de padding vertical para mejor toque */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho externo */
        display: block; /* Hace que cada enlace se trate como un bloque, ocupando una línea completa */
    }
    .nav-links button {
        text-align: center; /* Centra el texto de cada enlace */
        font-family: 'Calibri', sans-serif;
        font-size: 2.5vw;  /* Tamaño de fuente ajustado */
        width: 100%; /* Hace que cada enlace ocupe el ancho completo del contenedor */
        text-align: center; /* Centra el texto de cada enlace */
        padding: 6vw 0; /* Agrega un poco de padding vertical para mejor toque */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho externo */
        display: block; /* Hace que cada enlace se trate como un bloque, ocupando una línea completa */
    }
    
    

    .nav-center img {
        height: 3vw;
        order: 1;
        left: 0%;
        transform: translateX(80%); /* Centra el logo en la barra de navegación */
        margin-right: 2vw;
        margin-left: 3vw;
        gap:2vw;
  
    }

    nav .logo-right {
        height: 15vw;
        order: 2;
        margin-right: 20%; /* Alinea la imagen a la derecha */
    }

    
    .menu-button:focus + .nav-links,
    .nav-links:focus-within {
        display: flex; /* Muestra los enlaces cuando el menú está activo */
   
    }

    

    .content-container{
        padding: 20;
        padding-right: -20px; /* Añade un padding de 40 píxeles al lado derecho */
        background-color: white;
        width: 90%;
    }

    .dataframe.criteria-table {
        width: 100%;
        margin-top: 50px;
        overflow-x: auto;
        border:"1";

    }

    .dataframe.pressures-table{
        width: 100%;
        margin-top: 50px;
        overflow-x: auto;
        border:"1";
    }

    .home-section {
        position: relative;
        text-align: center;
        background-color: black;
        color: white;
        margin: 0 auto;
    }

    .main-header {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -30%);
        color: white;  /* Asegura que el texto sea visible sobre la imagen */
        width: 100%;  /* Ajustado para centrar el texto correctamente */
        align-items: center; 
        z-index: 2; /* Valor de z-index menor que el del .main-header */
    }

    .home-image {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        position: relative; /* Añade posición relativa para que el desplazamiento se aplique correctamente */
        top: -60px; /* Desplaza la imagen 50px hacia arriba */
        z-index: 1; /* Valor de z-index menor que el del .main-header */
    
    }

    /* Contenedor específico para .criteria-table que permite desplazamiento horizontal */
    .criteria-table-container {
    overflow-x: auto;        /* Permite el desplazamiento horizontal si el contenido excede el ancho de la pantalla */
    }

    /* Ajustes para .pressures-table si también se requiere desplazamiento horizontal */
    .pressures-table-container {
    overflow-x: auto;        /* Permite el desplazamiento horizontal, opcional para .pressures-table */
    }
   


}