html, body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    background-color: black;
    color: white;
    padding-top: 60px; /* Ajuste para mobile-first */
}





nav {
    background-color: white;
    height: 6vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between; /* Asegura la separación de elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}


.logo-right {
    height: 5.5vw;
    margin-left: auto; /* Asegura que el logo derecho se alinee a la derecha */
    
}



.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    gap: 7vw; /* Espacio entre los elementos */
}


.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
}

.menu-button:focus + .nav-links,
.nav-links:focus-within {
    display: flex; /* Hace visibles los enlaces cuando se activa el botón del menú (version movil*/
}

nav button {
    padding: 15px;
}

.menu-button {
    display: none; /* Oculto por defecto */
    background: none;
    border: none;
    cursor: pointer;
}


.sections {
    width: 70%; /* Establecido para tablet y desktop */
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    color: black;
    text-align: justify;
    transform: translateY(-50px); /* Desplaza la imagen 20px hacia arriba */
}


.nav-links button {
    height: 2vw; /* Ajusta la altura del botón */
    font-family: 'Calibri', sans-serif;
    width: auto; /* Mantiene el ancho automático basado en el contenido */
    padding: 0 1vw; /* Añade algo de espacio alrededor del texto dentro del botón */
    font-size: 1vw; /* Ajusta el tamaño de la fuente basado en el ancho de la ventana */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por el botón */
}
  
.nav-links button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

.home-section {
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0 auto;
}


.home-image {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    position: relative;
    top: -40px;
    z-index: 1;
}



.main-header {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
    font-size: 2.5vw;
    z-index: 2;
}




@media (max-width: 768px) {
    .menu-button {
        display: block; /* Visible en móviles */
        background: none;
        border: none;
        color: black;
        font-size: 10vw;
        cursor: pointer;
        margin-left: auto; /* Empuja el botón hacia la derecha */
        margin-right: 7vw;
        order: 2;
    }

    .main-header {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -30%);
        color: white;
        width: 100%;
        align-items: center; 
        z-index: 2;
        font-size: 4vw;
    }

    .menu-button:focus + .nav-links,
    .nav-links:focus-within {
        display: flex;
    }


    .nav-links {
        display: none;
        width: 80%; /* Ocupa el 80% del ancho cuando se muestra */
        flex-direction: column;
        position: absolute;
        top: 70px;
        background-color: white;
        padding: 10px 0;
        align-items: center; 
        justify-content: center;

    }

    /* Mostrar el menú cuando se añade la clase "show" */
    .nav-links.show {
       display: flex;
    }

    .nav-links a {
        font-size: 10px;
        width: 100%;
        text-align: center;
        padding: 8px 0;
        box-sizing: border-box;
        display: block;
    }

    .nav-links button{
        font-size: 10px;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        box-sizing: border-box;
        display: block;
    }

    .nav-links a:hover {
        background-color: #f0f0f0;
    }

    /* Ajustar el contenedor de navegación en móviles */
    nav {
        width: 100vw;
        padding: 0 10px;
        height: auto; 
        display: flex;
        align-items: center;
        justify-content: space-between; /* Asegura que el logo y el botón estén en los extremos */
    }



    /* Alinear el logo a la izquierda en móviles */
    .logo-right {
        height: 15vw; /* Mantén el tamaño actual del logo */
        margin-left: 5vw; /* Empuja el logo hacia la izquierda */
        order: 1;
    }

    .sections{
        padding: 20;
        padding-right: -20px; /* Añade un padding de 40 píxeles al lado derecho */
        background-color: white;
        width: 90%;
    }
    .sections{
        transform: translateY(-100px); /* Desplaza la imagen 20px hacia arriba */

    }

    .home-section {
        position: relative;
        text-align: center;
        background-color: black;
        color: white;
        margin: 0 auto;
        padding-bottom: 20px; /* Añadir espacio inferior si es necesario */
    }

    .home-image {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        position: relative;
        top: -40px;
        z-index: 1;
    }




  

}