html, body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    background-color: black;
    color: white;
    padding-top: 60px; /* Ajuste para mobile-first */
}





nav {
    background-color: white;
    height: 6vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between; /* Asegura la separación de elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}


.logo-right {
    height: 5.5vw;
    margin-left: auto; /* Asegura que el logo derecho se alinee a la derecha */
    
}



.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    gap: 7vw; /* Espacio entre los elementos */
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
}

.menu-button:focus + .nav-links,
.nav-links:focus-within {
    display: flex; /* Hace visibles los enlaces cuando se activa el botón del menú (version movil*/
}

nav button {
    padding: 15px;
}

.menu-button {
    display: none; /* Oculto por defecto */
    background: none;
    border: none;
    cursor: pointer;
}


.consent-section, .privacy-section {
    width: 70%; /* Establecido para tablet y desktop */
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    color: black;
    text-align: justify;
    transform: translateY(-50px); /* Desplaza la imagen 20px hacia arriba */
}


.nav-links button {
    height: 2vw; /* Ajusta la altura del botón */
    font-family: 'Calibri', sans-serif;
    width: auto; /* Mantiene el ancho automático basado en el contenido */
    padding: 0 1vw; /* Añade algo de espacio alrededor del texto dentro del botón */
    font-size: 1vw; /* Ajusta el tamaño de la fuente basado en el ancho de la ventana */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por el botón */
}
  
.nav-links button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

.home-section {
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0 auto;
}


.home-image {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    position: relative;
    top: -40px;
    z-index: 1;
}



.main-header {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
    font-size: 2.5vw;
    z-index: 2;
}



@media (max-width: 768px) {
    .main-header {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -30%);
        color: white;
        width: 100%;
        align-items: center; 
        z-index: 2;
        font-size: 4vw;
    }

    .consent-section, .privacy-section{
        padding: 20;
        padding-right: -20px; /* Añade un padding de 40 píxeles al lado derecho */
        background-color: white;
        width: 90%;
    }

    .home-section {
        position: relative;
        text-align: center;
        background-color: black;
        color: white;
        margin: 0 auto;
        padding-bottom: 20px; /* Añadir espacio inferior si es necesario */
    }

    .home-image {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        position: relative;
        top: -40px;
        z-index: 1;
    }

    /* Ocultar el checkbox */
    .menu-toggle {
        display: none;
    }

    /* Estilo básico del botón del menú */
    .menu-button {
        font-size: 10vw;
        cursor: pointer;
        background: none;
        border: none;
        position: absolute;
        right: 10px; /* Posiciona el botón a la derecha */
        top: 15px;
        z-index: 10; /* Asegura que el botón esté encima de otros elementos */
    }

    /* Icono de barras para el menú por defecto */
    .menu-button::before {
        content: '☰'; /* Este es el icono del menú hamburguesa (barras) */
        font-size: 10vw;
    }

    /* Cambiar el icono de barras a "X" cuando el checkbox esté activado */
    .menu-toggle:checked + .menu-button::before {
        content: '✖'; /* Cambia las barras a una X */
    }

    /* Ocultar el menú inicialmente */
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        align-items: center; 
        justify-content: center;
        z-index: 9; /* Asegura que esté detrás del botón de menú */
    }

    @media (max-width: 768px) {
        /* Ocultar el checkbox */
        .menu-toggle {
            display: none;
        }
    
        /* Estilo básico del botón del menú */
        .menu-button {
            font-size: 10vw;
            cursor: pointer;
            background: none;
            border: none;
            position: absolute;
            right: 10px; /* Posiciona el botón a la derecha */
            top: 15px;
            z-index: 10; /* Asegura que el botón esté encima de otros elementos */
        }
    
        /* Icono de barras para el menú por defecto */
        .menu-button::before {
            content: '☰'; /* Este es el icono del menú hamburguesa (barras) */
            font-size: 10vw;
            color: black; /* Aseguramos que sea visible */
        }
    
        /* Cambiar el icono de barras a "X" cuando el checkbox esté activado */
        .menu-toggle:checked + .menu-button::before {
            content: '✖'; /* Cambia las barras a una X */
        }
    
        /* Ocultar el menú inicialmente */
        .nav-links {
            display: none;
            flex-direction: column;
            background-color: white;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            padding: 10px 0;
            align-items: center; 
            justify-content: center;
            z-index: 9; /* Asegura que esté detrás del botón de menú */
        }
    
        /* Mostrar el menú cuando el checkbox está activado */
        .menu-toggle:checked ~ .nav-links {
            display: flex;
        }
    
        /* Enlaces del menú */
        .nav-links a {
            font-size: 10px;
            width: 100%;
            text-align: center;
            padding: 8px 0;
            box-sizing: border-box;
            display: block;
        }
    
        .nav-links button {
            font-size: 10px;
            width: 100%;
            text-align: center;
            padding: 20px 0;
            box-sizing: border-box;
            display: block;
        }
    
        .nav-links a:hover {
            background-color: #f0f0f0;
        }
    
        /* Ajustar el contenedor de navegación en móviles */
        nav {
            width: 100vw;
            padding: 0 10px;
            height: 18vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        /* Alinear el logo a la izquierda en móviles */
        .logo-right {
            height: 15vw; 
            margin-left: 5vw; 
            order: 1;
        }
    }
    
}
